{%  extends 'casuals/main.html' %}
{% load static %}
{% block content %}

<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">


			<p>Are you sure you want to accept the job below?</p>
            <hr>
            Centre: {{item.manager.centre}}<br>
            Date: {{item.date}}<br>
			Shift: {{item.shift_start_time}} to {{item.shift_end_time}}<br>
            
            <hr>

			<form method="POST">
				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'educator' %}">Cancel</a>

				<input class="btn btn-danger" type="submit" name="Confirm">
			</form>
		</div>
	</div>
</div>

{% endblock %}