{%  extends 'casuals/main.html' %}
{% load static %}
{% block content %}

<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">


			<p>Are you sure you want to delete the booking below?</p>
            <hr>
			Date: {{item.date}}<br>
			Shift Start Time: {{item.shift_start_time}}<br>
            Shift End Time: {{item.shift_end_time}}<br>
                        
            <hr>

			<form action="{% url 'delete_booking' item.id  %}" method="POST">
				
				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'manager' %}">Cancel</a>

				<input class="btn btn-danger" type="submit" name="Confirm">
			</form>
		</div>
	</div>
</div>

{% endblock %}