{%  extends 'casuals/main.html' %}
{% load static %}
{% block content %}

<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">


			<p>Are you sure you want to delete availability below?</p>
            <hr>
            Date: {{item.date}}<br>
            Available Time: {{item.start_time}} to {{item.end_time}}<br>
            
            <hr>

			<form action="{% url 'delete_availability' item.id  %}" method="POST">
				
				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'educator' %}">Cancel</a>

				<input class="btn btn-danger" type="submit" name="Confirm">
			</form>
		</div>
	</div>
</div>

{% endblock %}