{%  extends 'casuals/main.html' %}

{% block content %}


<div class="row">
	<div class="col-sm">
		
		<br>
	
		<div class="card card-body">
			<h5>Posted Jobs</h5>
			<a class="btn btn-sm btn-info" href="{% url 'create_job' %}">Post a new job</a>
			{% for educator in educator %}
			<div class="col-lg-4">
				<img class="thumbnail" src="{{educator.profile_pic.url}}" height=100px >
				<div class="box-element product">
					<h6><strong>{{educator.nick_name}}</strong></h6>
	
	
				</div>
			</div>
			{% endfor %}
		</div>

		<div class="row">

		</div>
		
	</div>
</div>

{% endblock %}