{%  extends 'casuals/main.html' %}

{% block content %}

<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Jobs Accepted</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">3</h1>

		</div>
	</div>


	<div class="col-md">
		<div class="card card-body">
			<h5>Jobs Still Pending</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">2</h1>
		</div>
	</div>
</div>

<br>

<div class="row">
	<div class="col-sm">
		<div class="card card-body">
			<h5>Job Posts</h5>
				<table class="table table-md">
					<tr>
						<th>Centre</th>
						<th>Date</th>
						<th>Qualification</th>
						<th>Shift</th>	
						<th></th>					
					</tr>
	
					{% for i in job %}
						<tr>
							<td>{{i.manager.centre}}</td>
							<td>{{i.date}}</td>
							<td>{{i.qualification}}</td>
							<td>{{i.shift_start_time}} to {{i.shift_end_time}}</td>						
							<td><a class="btn btn-sm btn-info" href="#">Accept</a></td>
						</tr>
					{% endfor %}
				</table>
		</div>
	</div>
</div>

<br>

<div class="row">
	<div class="col-sm">
		<div class="card card-body">
			<h5>Job invitations</h5>
				<table class="table table-md">
					<tr>
						<th>Centre</th>
						<th>Date</th>
						<th>Shift</th>
						<th></th>
						<th></th>		
					</tr>
					
					{% for i in booking %}
						{% if i.status == 'Pending' %}
							<tr>
								<td>{{i.manager.centre}}</td>
								<td>{{i.date}}</td>
								<td>{{i.shift_start_time}} to {{i.shift_end_time}}</td>
								<td><a class="btn btn-sm btn-info" href="{% url 'accept_booking' i.id %}">Accept</a></td>
								<td><a class="btn btn-sm btn-danger" href="{% url 'reject_booking' i.id %}">Reject</a></td>
							</tr>
						{% endif %}
					{% endfor %}
				</table>
		</div>
	</div>
</div>
 
<br>

<div class="row">
	<div class="col-sm">
		<div class="card card-body">
			<h5>Availabilities</h5>
			<a class="btn btn-sm btn-info" href="{% url 'create_availability' %}">Add Availabilities</a>
				<table class="table table-md">
					<tr>
						<th>Date</th>
						<th>Available Time</th>	
						<th></th>
						<th></th>				
					</tr>

					{% for i in availability %}
						<tr>
							<td>{{i.date}}</td>
							<td>{{i.start_time}} to {{i.end_time}}</td>	
							<td><a class="btn btn-sm btn-info" href="{% url 'update_availability' i.id %}">Update</a></td>
							<td><a class="btn btn-sm btn-danger" href="{% url 'delete_availability' i.id %}">Delete</a></td>
						</tr>
					{% endfor %}
				</table>
		</div>
	</div>
	<div class="col-sm">
		<div class="card card-body">
			<h5>Accepted Jobs</h5>
			<table class="table table-md">
				<tr>
					<th>Date</th>
					<th>Centre</th>
					<th>Shift</th>		
				</tr>
				
				{% for i in booking %}
					{% if i.status == 'Accepted' %}
					<tr>
						<td>{{i.date}}</td>
						<td>{{i.manager.centre}}</td>
						<td>{{i.shift_start_time}} to {{i.shift_end_time}}</td>
					</tr>
					{% endif %}
				{% endfor %}
			</table>
		</div>
	</div>
</div>

{% endblock %}