{%  extends 'casuals/main.html' %}

{% block content %}

<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">
				{{myFilter.form}}
			   	<button class="btn btn-primary" type="submit">Search</button>
		  	</form>
		</div>
	</div>
	
</div>
<br>

<br>

<div class="row">
	<div class="col-sm">
		<div class="card card-body">
			<h5>Available Staff</h5>
				<table class="table table-md">
					<tr>
						<th>Educator</th>
						<th>Date</th>
						<th>Qualification</th>
						<th>Available Time</th>	
						<th></th>					
					</tr>

					{% for i in availability %}
						<tr>
							<td>{{i.educator.nick_name}}</td>
							<td>{{i.date}}</td>
							<td>{{i.educator.qualification}}</td>
							<td>{{i.start_time}} to {{i.end_time}}</td>						
							<td><a class="btn btn-sm btn-info" href="#">Book</a></td>
						</tr>
					{% endfor %}

				</table>
		</div>

		<br>

		<div class="card card-body">
			<h5>Bookings</h5>
			<a class="btn btn-sm btn-info" href="{% url 'create_booking' %}">Add a new booking</a>
				<table class="table table-md">
					<tr>
						<th>Date</th>
						<th>Educator</th>
						<th>Qualification</th>
						<th>Shift</th>
						<th>Status</th>		
						<th></th>
						<th></th>						
					</tr>

					{% for i in booking %}
						<tr>
							<td>{{i.date}}</td>
							<td>{{i.educator.nick_name}}</td>
							<td>{{i.educator.qualification}}</td>
							<td>{{i.shift_start_time}} to {{i.shift_end_time}}</td>
							<td>{{i.status}}</td>							
							<td><a class="btn btn-sm btn-info" href="{% url 'update_booking' i.id %}">Update</a></td>
							<td><a class="btn btn-sm btn-danger" href="{% url 'delete_booking' i.id %}">Delete</a></td>
						</tr>
					{% endfor %}

				</table>
		</div>

		<br>

		<div class="card card-body">
			<h5>Posted Jobs</h5>
			<a class="btn btn-sm btn-info" href="{% url 'create_job' %}">Post a new job</a>
			<table class="table table-md">
				<tr>
					<th>Centre</th>
					<th>Date</th>
					<th>Qualification</th>
					<th>Shift</th>	
					<th></th>
					<th></th>						
				</tr>

				{% for i in job %}
					<tr>
						<td>{{i.manager.centre}}</td>
						<td>{{i.date}}</td>
						<td>{{i.qualification}}</td>
						<td>{{i.shift_start_time}} to {{i.shift_end_time}}</td>						
						<td><a class="btn btn-sm btn-info" href="{% url 'update_job' i.id %}">Update</a></td>
						<td><a class="btn btn-sm btn-danger" href="{% url 'delete_job' i.id %}">Delete</a></td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}