{%  extends 'casuals/main.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Staff</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Name</th>
							<th>Qualification</th>
							<th>Phone</th>
							<th>Email</th>
						</tr>

						{% for i in staff %}
						<tr>
							<td>{{i.fname}}</td>
							<td>{{i.qualification}}</td>
							<td>{{i.phone}}</td>
							<td>{{i.email}}</td>
						</tr>
						{% endfor %}
					
					</table>
				</div>
			</div>
			
		</div>

{% endblock content %}