{%  extends 'casuals/main.html' %}

{% block content %}

<br>

<div class="row">
	<div class="col-sm">
		<div class="card card-body">
			<h5>Casual Staff List</h5>
				<table class="table table-md">
					<tr>
						<th>User Name</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Mobile</th>	
						<th>Email</th>
                        <th></th>
                        <th></th>					
					</tr>

					{% for i in educator %}
						<tr>
							<td>{{i.nick_name}}</td>
							<td>{{i.first_name}}</td>
							<td>{{i.last_name}}</td>
                            <td>{{i.mobile}}</td>
                            <td>{{i.email}}</td>							
							<td><a class="btn btn-sm btn-info" href="{% url 'update_educator' i.id %}">Update</a></td>
							<td><a class="btn btn-sm btn-danger" href="{% url 'delete_educator' i.id %}">Delete</a></td>
						</tr>
					{% endfor %}

				</table>
		</div>
	</div>
</div>

{% endblock %}